<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Vue Tutorial ch09</title>

  <style>
    #app {
      text-align: center;
      padding-top: 10rem;
    }
  </style>
</head>
<body>
  
  <div id="app">
    <h2>할일 메모장</h2>
    <todo-input @add-todo="addTodo"></todo-input>
    <todo-list :todo-list="todoList"></todo-list>
  </div>
  
  <script src="https://unpkg.com/vue/dist/vue.js"></script>

  <script>
    Vue.component('TodoInput',  {
      template: `
        <div>
          <input type="text" v-model="todoText">
          <button type="button" @click="saveTodo">저장</button>
        </div>
      `,
      data () {
        return {
          todoText: ''
        }
      },
      methods: {
        saveTodo () {
          this.$emit('add-todo', this.todoText)
          this.todoText = ''
        }
      }
    })

    Vue.component('TodoList',  {
      template: `
        <div style="width: 200px;">
          <ol>
            <li v-for="todo in todoList" :key="todo.id">{{ todo.text }}</li>
          </ol>
        </div>
      `,
      props: {
        todoList: {
          type: Array
        }
      },
      data () {
        return {
        }
      },
      methods: {
      }
    })

    var app = new Vue({
      el: '#app',
      data () {
        return {
          todoList: []
        }
      },
      methods: {
        addTodo (todoText) {
          let maxId = this.todoList
                            .map((todo) => todo.id)
                            .reduce((accumulator, current) => Math.max(current, accumulator), 0)
          this.todoList.push({ id: ++maxId, text: todoText })
          console.log(this.todoList)
        }
      }
    })

  </script>

</body>
</html>